include README.md
include CURRENT_VERSION.txt
include chromedriver_py/chromedriver_win32.exe
include chromedriver_py/chromedriver_win64.exe
include chromedriver_py/chromedriver_linux64
include chromedriver_py/chromedriver_mac-x64
include chromedriver_py/chromedriver_mac-arm64
