name: Deploy to PyPi

on:
  schedule:
    - cron: '0 0 * * *'
  push:
    branches: [ master ]
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to update'
        required: false
        default: ''

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.1
      - name: Set up Python 3.9
        uses: actions/setup-python@v1
        with:
          python-version: 3.9
      - run: pip3 install -r requirements.txt
      - name: Search for new version
        run: python3 updater.py
        env:
          VERSION: ${{ github.event.inputs.version }}
      - name: Install pypa/build
        run: >-
          python -m
          pip install
          build
          --user
      - name: Build a binary wheel and a source tarball
        run: >-
          python -m
          build
          --sdist
          --wheel
          --outdir dist/
          .
      - name: Publish distribution to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: scriptworld
          password: ${{ secrets.PYPI_PASSWORD }}
